.wrap {
  margin: 0 auto;
  max-width: 800px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  flex-basis: 50%;
}
.option {
  textarea {
    display: block;
    width: calc(100% - 50px);
    height: calc(100vh - 150px);
  }
}