<div class="wrap">
  <div class="header">
    <h1>Subtitles to Speech</h1>
    <a class="link-git" href="https://github.com/hasan42/ng-srt-tts" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
  </div>
  <form [formGroup]="form" (submit)="speak()">
    <div class="row row_2">
      <div class="col">
        <div class="option">
          <textarea formControlName="text" 
                    placeholder="Enter text"
                    x-webkit-speech 
                    (change)="checkFormatSub()"></textarea>
        </div>
      </div>
      <div class="col">
        <div>{{msg}}</div>
        <div *ngIf="!ssIsSupport" class="option">
          <span title="TTS NO support"><fa-icon [icon]="faTimes"></fa-icon> TTS NO support</span>
        </div>
        <div class="option">
          <div class="row row_v">
            <div class="col">
              <button class="control-btn" 
                      type="button"
                      (click)="play()" 
                      *ngIf="!played" 
                      title="Start speech">
                <fa-icon [icon]="faPlay"></fa-icon> Start speech
              </button>
              <button class="control-btn" 
                      type="button"
                      (click)="stop()" 
                      *ngIf="played" 
                      title="Stop speech">
                <fa-icon [icon]="faStop"></fa-icon> Stop speech
              </button>
            </div>
            <div class="col">
              {{time | secondsToTime}}
            </div>
            <div class="col">
              Current sub:<br>
              {{current}}
            </div>
          </div>
        </div>
        <div class="option">
          <p>Selected sub index: {{form.get('timeline').value === "-1" ? "by order" : form.get('timeline').value}}; Selected time: {{getTime()}} </p>
          <div class="range">
            <input type="range"
                   min="-1" 
                   [max]="textArr.length - 1" 
                   step="1" 
                   list="tickmarks" 
                   formControlName="timeline" 
                   (click)="onChangeTimeline()">
            <datalist id="tickmarks" *ngIf="textArr.length < 300">
              <option value="-1"></option>
              <ng-container *ngFor="let tick of textArr; index as i; first as first; last as last">
                <option [value]="i"></option>
              </ng-container>
            </datalist>
          </div>
        </div>
        <div class="option mt-10" *ngIf="subStyleType.length">
          <p>Select subtitles type to read</p>
          <div class="radio">
            <input type="radio"
                   name="contact" 
                   id="choiceStyleAll"
                   value="All"
                   checked
                   (click)="onChangeStyleSub($event.target.value)">
              <label for="choiceStyleAll" (click)="onChangeStyleSub($event.target.value)">All ({{fullTextArr.length}})</label>
          </div>
          <ng-container *ngFor="let style of subStyleType; index as i; first as first; last as last">
            <div class="radio" *ngIf="getCountSubByStyle(style) > 0">
              <input type="radio" 
                     name="contact" 
                     [id]="choiceStyle + style"
                     [value]="style"
                     (click)="onChangeStyleSub($event.target.value)">
              <label [for]="choiceStyle + style" 
                     (click)="onChangeStyleSub($event.target.value)">{{style}} ({{getCountSubByStyle(style)}})</label>
            </div>
          </ng-container>
        </div>
        
        <h3>Settings</h3>
        <div class="option">
          <label for="voice">Voice</label>
          <div class="select mt-10">
            <select formControlName="voice">
              <ng-container *ngFor="let voice of voices; index as i; first as first; last as last">
                <option [value]="voice.name">{{voice.name}}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="option">
          <label for="volume">Volume: {{form.get('volume').value}}</label>
          <div class="range">
            <input type="range" 
                   min="0" 
                   max="1" 
                   step="0.1" 
                   list="volumemarks" 
                   formControlName="volume" 
                   [value]="1">
            <datalist id="volumemarks">
              <ng-container *ngFor="let tick of makeArray(0,1,0.1); index as i; first as first; last as last">
                <option [value]="tick"></option>
              </ng-container>
            </datalist>
          </div>
        </div>
        <div class="option">
          <label for="rate">Rate: {{form.get('rate').value}}</label>
          <div class="range">
            <input type="range" 
                   min="0.1" 
                   max="10" 
                   step="0.1" 
                   list="ratemarks" 
                   formControlName="rate" 
                   [value]="1">
            <datalist id="ratemarks">
              <ng-container *ngFor="let tick of makeArray(0,10,1); index as i; first as first; last as last">
                <option [value]="tick"></option>
              </ng-container>
            </datalist>
          </div>
          
        </div>
          <div class="option">
            <input type="checkbox" id="ratedep" formControlName="ratedep"> <label for="ratedep">Time depends rate</label>
          </div>
        <div class="option">
          <label for="pitch">Pitch: {{form.get('pitch').value}}</label>
          <div class="range">
            <input type="range" 
                   min="0" 
                   max="2" 
                   step="0.1" 
                   list="pitchmarks" 
                   formControlName="pitch" 
                   [value]="1">
            <datalist id="pitchmarks">
              <ng-container *ngFor="let tick of makeArray(0,2,0.1); index as i; first as first; last as last">
                <option [value]="tick"></option>
              </ng-container>
            </datalist>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
    </div>
  </form>
</div>
