*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Lora', 'Tahoma', serif;
  color: #3C454C;
  position: relative;
  height: auto;
  min-height: 100%;
  background: linear-gradient(to top, rgba(211, 204, 227, 0.3), rgba(233, 228, 240, 0.3));
}
body {
  margin: 0;
}
#app {
  height: 100%;
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
